@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tagesschrift&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

.search_bar_section {
  background-image: url(https://img.freepik.com/premium-photo/abstract-textured-background-surface_204197-12077.jpg?semt=ais_hybrid&w=740);
  padding: 0 30px
}

.logo_container {
  display: inline-flex;
  align-items: center;
}

.logo_img {
  height: 150px;
  width: auto;
  cursor: pointer;
}

.logo_container h1 {
  font-family: "Tagesschrift", system-ui;
  font-size: 50px;
  width: auto;
  color: rgb(208, 226, 206);
}

.search_bar {
  margin-top: 20px;
  gap: 10px;
  padding-left: 40px;
}

.search_bar * {
  height: 45px;
  padding: 10px;
}

.search_bar input {
  width: 60%;
  max-width: 600px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}

.search_bar button {
  background-color: #53ff86;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.search_bar button:hover {
  background-color: green;
}