.movie_list_header{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 10px 0;
    
    border-bottom: 1px solid #e6e6e6;

}

.movie_list_heading{
    display: flex;
    align-items: center;
    font-size: 26px;
    color: var(--heading_color);
}

.movie_date_rate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie_filter{
    list-style: none;
    font-size: 16px;
}

.movie_filter_item{
    padding: 5px 10px;
    cursor: pointer;
}

.movie_filter_item.active{
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
}

.movie_sorting{
    border: none;
    outline: none;
    border-radius: 5PX;
    font-size: 16PX;
    font-weight: 500;
    font-family: inherit;
    height: 30px;
    padding: 0 5px;
    margin: 0 10PX;

}

.movie_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}